#back-to-top{
  left: 46%;
  top: 10%;
  width: 8rem;
  height: 3rem;
  color: #363636;
  background: linear-gradient( 145deg, #fad05c 0%, #fa5c5c 100%);
  border-radius: 15px;
  opacity: .5;
  border: none;
  display: none;
}

#back-to-top:hover{
  opacity: 1;
}

.catBox {
  background: transparent;
  border-radius: 10px;
  padding-top: 50px;
  padding-left: 100px;
  padding-bottom: 210px;
  transform: scale(.75);
  max-width: 100%;
}

.cat-data{
  padding: 10px 10px 10px 20px;
  position: absolute;
  width: inherit;
  height: 200px;
  display: none;
  z-index: 2;
  background: #eee;
  border-radius: 0 0 10px 10px;
  left: 0;
  top: 550px;
}

.cat-data-btn{
  position: absolute;
  right: 20px;
  bottom: 1em;
  border: 1px solid #eee;
}

.cat-data-btn:hover{
  background: #eee;
}

.info-font-size{
  font-size: 20px;
  position: absolute;
}

.birth{
  left: 20px;
  bottom: 4.5em;
}

.genes{
  left: 20px;
  bottom: 3em;
}

.gen{
  left: 20px;
  bottom: 1.5em;
}

.popup-font{
  font-size: 20px;
}

#makeSomeHereBtn{
  width: 15rem;
  height: 4rem;
  background: linear-gradient( 145deg, #fad05c 0%, #fa5c5c 100%);
  border-radius: 15px;
  transition: transform .3s ease-out;
  border: none;
  margin-top: 15px;
}

#makeSomeHereBtn:hover{
  background: linear-gradient( 145deg, #5ce0fa 0%, #5b8bfc 100%);
  color: white;
  transform: scale(1.1);
}

@media (max-width: 640px) {
  #makeSomeHereBtn{
    width: 10rem;
    height: 3rem;
    font-size: 14px;
  }
}

.arrow{
  position: fixed;
  left: 45%;
  top: 75%;
  z-index: 3;
}

#top-arrow{
  border: solid grey;
  border-width: 0 20px 20px 0;
  display: inline-block;
  padding: 20px;
  transform: rotate(45deg);
  opacity: 0;
}

#bottom-arrow{
  border: solid grey;
  border-width: 0 20px 20px 0;
  display: inline-block;
  padding: 20px;
}

.noCatText{
  font-size: 20px;
  text-align: center;
  transform: translateY(-20%);
  padding: 2em 1em 1em 1em;
  margin: 5em auto auto;
  width: 45%;
  background: #eee;
  border-radius: 15px;
  height: 10em;
}

.top-arrow-animation{
  animation: top-arrow-animation 4s 1 ease-out;
}

@keyframes top-arrow-animation {
  0%,10%,40%,50%,80%,90%{
    opacity: .8;
  }
  20%,30%,60%,70%,90%,100%{
    opacity: 0;
  }
}

.bottom-arrow-animation{
  animation: bottom-arrow-animation 4s 1 ease-out;
}

@keyframes bottom-arrow-animation {
  5%,15%,45%,55%,85%,95%{
    opacity: .8;
  }
  25%,35%,65%,75%,95%,100%{
    opacity: 0;
  }
}

.rare-colors{
  box-shadow: 0 0 25px #fffa78;
}

.rare-colors-databox{
  box-shadow: 0 5px 10px #fffa78;
}

.rareDNA{
  opacity: .7;
  background-color: #fff721;
  padding: 3px 5px;
  display: none;
  border: 2px solid;
  border-radius: 15px;
  position: absolute;
  font-size: 40px;
  left: 25%;
  top: -10%;
  box-shadow: 0 5px 10px #fc0307;
}

.rareDNA-animation{
  animation: rareDNA-animation 15s infinite;
}

@keyframes rareDNA-animation{
  10% {
    transform: translateY(-20px);
  }
  20%{
    transform: translateY(0);
  }
}
