*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  background: #607d8b;
}

.cat{
  margin: auto;
  height: 400px;
  width: 300px;
}

.head{
  background: #505050;
  width: 200px;
  height: 200px;
  border-radius: 40% 40% 50% 50%;
  top: 15px;
  position: relative;
  z-index: 6;
}

.head_marking{
  position: absolute;
  border-radius: 0 0 50% 50%;
  width: 10px;
  height: 20px;
  left: 95px;
  background: white;
}

.eyelashes-left, .eyelashes-right {
  position: relative;
}
.eyelashes-left, .eyelashes-right, .eyelashes-left::after, .eyelashes-right::after, .eyelashes-left::before, .eyelashes-right::before {
  width: 40px;
  height: 2px;
  background: #373737;
}
.eyelashes-left::before, .eyelashes-right::before, .eyelashes-left::after, .eyelashes-right::after {
  content: '';
  position: absolute;
  left: 0;
}
.eyelashes-left {
  top: 35px;
  left: 30px;
  transform: rotate(90deg);
}
.eyelashes-left::before {
  top: -16px;
  transform: rotate(15deg);
}
.eyelashes-left::after {
  top: 16px;
  transform: rotate(-15deg);
}
.eyelashes-right {
  top: 35px;
  left: 130px;
  transform: rotate(-90deg);
}
.eyelashes-right::before {
  top: -16px;
  transform: rotate(-15deg);
}
.eyelashes-right::after {
  top: 16px;
  transform: rotate(15deg);
}

.eyes{
  position: relative;
  top: 30px;
  display: flex;
}

.eye{
  background: linear-gradient(white, #bbb);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 25px;
  position: relative;
  z-index: 2;
}
.iris{
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: linear-gradient(#00e1ff, #0066ff);
  top: 10px;
  left: 10px;
    /* animation-name: felix;
    animation-duration: 1s;
    animation-iteration-count: infinite; */
}
/*
@keyframes felix{
  0%{
    left: 2px;
  }
  50%{
    left: 18px;
  }
  100%{
    left: 2px;
  }
} */

.pupils{
  background: black;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
  margin: auto;
  top: 2px;
}

.pupil_highlight{
  position: relative;
  background: #eee;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  bottom: 25px;
}


.muzzle_left{
  position: absolute;
  background: #eee;
  width: 50px;
  height: 60px;
  border-radius: 45%;
  left: 60px;
  transform: rotate(45deg);
}

.muzzle_right{
  position: absolute;
  background: #eee;
  width: 50px;
  height: 60px;
  border-radius: 45%;
  left: 90px;
  transform: rotate(-45deg);
}

.nose{
  background: black;
  width: 20px;
  height: 10px;
  border-radius: 50%;
  top: 10px;
  left: 90px;
  position: relative;
  z-index: 4;
}

.nose_point{
  position: relative;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 8px solid black;
  top: 6px;
}

.mouth{
  background: pink;
  width: 25px;
  height: 15px;
  border-radius: 10% 10% 50% 50%;
  top: 20px;
  left: 87px;
  position: relative;
  z-index: 5;
}

.chin_hair{
  position: relative;
  background: white;
  border-radius: 40% 40% 20% 20%;
}

.chin_hair_left{
  width: 4px;
  height: 15px;
  left: 90px;
  top: 53px;
}

.chin_hair_middle{
  width: 5px;
  height: 23px;
  left: 98px;
  top: 30px;
}

.chin_hair_right{
  width: 4px;
  height: 15px;
  left: 107px;
  top: 15px;
}

.ears{
  position: relative;
  top: 15px;
}

.ear{
  border-radius: 90% 0 90% 0;
  height: 150px;
  width: 150px;
  position: absolute;
}

.left_ear{
  transform: scale(1,-1);
  left:-20px;
  top: -20px;
  background: #505050;
}

.right_ear{
  background: #505050;
  left: 75px;
  top: -20px;
}

.inner_ear{
  border-radius: 110% 0 110% 0;
  background: pink;
  height: 75px;
  width: 75px;
  position: relative;
}

.left_inner_ear{
  top: 60px;
  left: 15px;
}

.right_inner_ear{
  left: 60px;
  top: 15px;
}

.cat__whiskers-left, .cat__whiskers-right {
    position: relative;
    z-index: 3;
}
.cat__whiskers-left, .cat__whiskers-right, .cat__whiskers-left::after, .cat__whiskers-right::after, .cat__whiskers-left::before, .cat__whiskers-right::before {
    width: 100px;
    height: 1px;
    background: #373737;
}
.cat__whiskers-left::before, .cat__whiskers-right::before, .cat__whiskers-left::after, .cat__whiskers-right::after {
    content: '';
    position: absolute;
    left: 0;
}
.cat__whiskers-left {
    top: 30px;
    left: -25px;
}
.cat__whiskers-left::before {
    top: -16px;
    transform: rotate(15deg);
}
.cat__whiskers-left::after {
    top: 16px;
    transform: rotate(-15deg);
}
.cat__whiskers-right {
    top: 30px;
    left: 125px;
}
.cat__whiskers-right::before {
    top: -16px;
    transform: rotate(-15deg);
}
.cat__whiskers-right::after {
    top: 16px;
    transform: rotate(15deg);
}

.facemark_left{
  position: absolute;
  width: 20px;
  height: 40px;
  border-radius: 10px;
  background: #ccc;
  transform: rotate(80deg);
  bottom: 45px;
  left: 20px;
  z-index: 1;
}

.facemark_right{
  position: absolute;
  width: 20px;
  height: 40px;
  border-radius: 10px;
  background: #ccc;
  transform: rotate(-80deg);
  bottom: 45px;
  left: 160px;
  z-index: 1;
}

.body{
  z-index: 2;
  width: 200px;
  height: 300px;
  background: #505050;
  position: relative;
  top: -65px;
  border-radius: 40% 40% 20% 20%;
}

.sidemark_left{
  position: absolute;
  width: 15px;
  height: 60px;
  background: #bbb;
  top: 50px;
  left: 5px;
  transform: rotate(15deg);
  border-radius: 80% 70% 70% 80%;
}

.sidemark_left_dot{
  position: relative;
  width: 10px;
  height: 10px;
  background: #bbb;
  border-radius: 50%;
  top: 65px;
  left: 7px;
}

.sidemark_right{
  position: absolute;
  width: 15px;
  height: 60px;
  background: #bbb;
  top: 50px;
  left: 180px;
  transform: rotate(-15deg);
  border-radius: 80% 70% 70% 80%;
}

.sidemark_right_dot{
  position: relative;
  width: 10px;
  height: 10px;
  background: #bbb;
  border-radius: 50%;
  top: 65px;
}

.belly{
  position: relative;
  width: 100px;
  height: 200px;
  background: white;
  border-radius: 40% 40% 20% 20%;
  top: 90px;
  left: 50px;
}

.legs{
  position: relative;
  display: flex;
}

.leg{
  position: relative;
  width: 50px;
  height: 180px;
  margin: 30px;
  border-radius: 90% 90% 30% 30%;
  bottom: 80px;
  background: #505050;
}

.front_paw{
  position: relative;
  width: 40px;
  height: 20px;
  border-radius: 50%;
  background: linear-gradient(rgb(50, 50, 50),rgb(99,99,99));
  top: 165px;
}

.back_legs{
  position: relative;
  display: flex;
}

.back_leg{
  position: relative;
  width: 45px;
  height: 120px;
  margin: 75px;
  right: 295px;
  bottom: 100px;
  border-radius: 40%;
  background: #505050;
}

.back_paw{
  position: relative;
  width: 50px;
  height: 20px;
  border-radius: 40%;
  left: -3px;
  top: 110px;
  background: linear-gradient(rgb(50, 50, 50),rgb(99,99,99));
}

.tail{
  z-index: 1;
  position: relative;
  width: 40px;
  height: 300px;
  border-radius: 50% 50%;
  transform: rotate(13deg);
  bottom: 380px;
  left: 180px;
  background: #505050;
  transition: transform .4s ease-out;
}

.tail:hover{
  transform: rotate(30deg);
}
