*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    overflow-y: scroll;
}
body {
    background: #607d8b;

}

.cat{
  margin: auto;
  height: 400px;
  width: 300px;
}

.head{
  background: linear-gradient(rgb(80,80,80), rgb(40, 40, 40));
  width: 200px;
  height: 200px;
  border-radius: 40% 40% 60% 60%;
  top: 15px;
  position: relative;
  z-index: 6;
}

.head_marking{
  position: absolute;
  border-radius: 0 0 50% 50%;
  width: 10px;
  height: 20px;
  left: 95px;
  background: white;
}

.eyes{
  position: relative;
  top: 30px;
  display: flex;
}

.eye{
  background: linear-gradient(white, #bbb);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 25px;
  position: relative;
  z-index: 2;

}

.pupils{
  background: black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 5px;
  animation-name: felix;
  animation-duration: 1s;
  animation-iteration-count: infinite;

}

@keyframes felix{
  0%{
    left: 3px;
  }
  50%{
    left: 18px;
  }
  100%{
    left: 3px;
  }
}

.iris{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 4px solid #00e1ff;
}

.pupil_highlight{
  position: relative;
  background: #eee;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  bottom: 30px;
}

.eyelashes{
  font-size: 30px;
  position: relative;
  bottom: 33px;
  left: 5px;
  font-family: sans-serif;
}

.nose{
  background: black;
  width: 20px;
  height: 10px;
  border-radius: 50%;
  top: 10px;
  left: 90px;
  position: relative;
  z-index: 4;
}

.mouth{
  background: #f8d4ff;
  width: 25px;
  height: 15px;
  border-radius: 10% 10% 50% 50%;
  top: 20px;
  left: 87px;
  position: relative;
  z-index: 5;
}

.whiskers{
  color: lightgrey;
  position: relative;
  display: flex;
  font-size: 60px;
  bottom: 60px;
  right: 2px;
  z-index: 3;
  font-family: sans-serif;
}

.whisker{
  margin: 25px;
}

.left_whiskers{
  transform: rotate(-90deg);
}

.right_whiskers{
  transform: rotate(90deg);
}

.ears{
  position: relative;
  top: 15px;
}

.ear{
  border-radius: 90% 0 90% 0;
  height: 150px;
  width: 150px;
  position: absolute;
}

.left_ear{
  transform: scale(1,-1);
  left:-20px;
  top: -20px;
  background: linear-gradient(rgb(40, 40, 40), rgb(80, 80, 80));
}

.right_ear{
  background: linear-gradient(rgb(80, 80, 80), rgb(40, 40, 40));
  left: 75px;
  top: -20px;
}

.inner_ear{
  border-radius: 110% 0 110% 0;
  background: pink;
  height: 75px;
  width: 75px;
  position: relative;
}

.left_inner_ear{
  top: 75px;
}

.right_inner_ear{
  left: 75px;
}

.ear_hair{
  position: relative;
  color: black;
  font-size: 25px;
  font-family: sans-serif;
}

.left_ear_hair{
  transform: rotate(-135deg);
  right: 20px;
}

.right_ear_hair{
  transform: rotate(45deg);
  top: 40px;
  left: 20px;
}

.body{
  z-index: 2;
  width: 200px;
  height: 300px;
  background: rgb(50, 50, 50);
  position: relative;
  top: -65px;
  border-radius: 40% 40% 20% 20%;
}

.belly{
  position: relative;
  width: 100px;
  height: 200px;
  background: white;
  border-radius: 40% 40% 20% 20%;
  top: 90px;
  left: 50px;
}

.legs{
  position: relative;
  display: flex;
}

.leg{
  position: relative;
  width: 50px;
  height: 180px;
  margin: 30px;
  border-radius: 90% 90% 30% 30%;
  bottom: 80px;
  background-image: linear-gradient(rgb(50, 50, 50),rgb(66, 66, 66));
}

.front_paw{
  position: relative;
  width: 40px;
  height: 20px;
  border-radius: 50%;
  background: linear-gradient(rgb(50, 50, 50),rgb(99,99,99));
  top: 165px;
}

.back_legs{
  position: relative;
  display: flex;
}

.back_leg{
  position: relative;
  width: 45px;
  height: 120px;
  margin: 75px;
  right: 295px;
  bottom: 100px;
  border-radius: 40%;
  background: rgb(50, 50, 50);
}

.back_paw{
  position: relative;
  width: 50px;
  height: 20px;
  border-radius: 40%;
  left: -3px;
  top: 110px;
  background: linear-gradient(rgb(50, 50, 50),rgb(99,99,99));
}

.tail{
  margin: 0;
  z-index: 1;
  position: relative;
  width: 40px;
  height: 300px;
  border-radius: 50% 50%;
  transform: rotate(33deg);
  bottom: 380px;
  left: 180px;
  background: linear-gradient(rgb(40, 40, 40),rgb(100, 100, 100));
  transition: transform .4s ease-out;
}

.tail:hover{
  transform: rotate(10deg);
}
