#welcomeBoxTitle{
  font-size: 35px;
}

.welcomeBox{
  font-size: 20px;
  text-align: center;
  transform: translateY(-20%);
  padding: 3em 2em;
  margin: 5em auto auto;
  width: 50%;
  background: #eee;
  border-radius: 15px;
  height: 35%;
}

.welcomeBoxSubtext{
  font-size: 14px;
}

#setApprovalBtn{
  width: 15rem;
  height: 4rem;
  background: linear-gradient( 145deg, #fad05c 0%, #fa5c5c 100%);
  border-radius: 15px;
  transition: transform .3s ease-out;
  border: none;
  margin-top: 15px;
}

#setApprovalBtn:hover{
  background: linear-gradient( 145deg, #5ce0fa 0%, #5b8bfc 100%);
  color: white;
  transform: scale(1.1);
}

@media (max-width: 780px) {
  #welcomeBoxTitle{
    font-size: 20px;
  }

  .welcomeBox{
    font-size: 12px;
  }

  #setApprovalBtn{
    width: 9rem;
    height: 2rem;
    font-size: 12px;
    border-radius: 9px;
  }
}

.noCatText{
  font-size: 20px;
  text-align: center;
  transform: translateY(-20%);
  padding: 4em 2em;
  margin: 5em auto auto;
  width: 60%;
  background: #eee;
  border-radius: 15px;
  height: 20%;
}

#makeSomeHereBtn{
  width: 15rem;
  height: 4rem;
  background: linear-gradient( 145deg, #fad05c 0%, #fa5c5c 100%);
  border-radius: 15px;
  transition: transform .3s ease-out;
  border: none;
  margin-top: 15px;
}

#makeSomeHereBtn:hover{
  background: linear-gradient( 145deg, #5ce0fa 0%, #5b8bfc 100%);
  color: white;
  transform: scale(1.1);
}

#continueToMarketplaceBtn{
  width: 18rem;
  height: 4rem;
  background: linear-gradient( 145deg, #fad05c 0%, #fa5c5c 100%);
  border-radius: 15px;
  transition: transform .3s ease-out;
  border: none;
  margin-top: 5px;
}

#continueToMarketplaceBtn:hover{
  background: linear-gradient( 145deg, #5ce0fa 0%, #5b8bfc 100%);
  color: white;
  transform: scale(1.1);
}

@media (max-width: 660px){
  #makeSomeHereBtn{
    width: 13rem;
    height: 3rem;
    font-size: 16px;
  }
  #continueToMarketplaceBtn{
    width: 14rem;
    height: 3rem;
    font-size: 16px;
  }
}

#removePermissionFromMarketplaceBtn{
  margin-top: 1em;
  margin-left: 3.5em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.catBox {
  background: transparent;
  border-radius: 10px;
  padding-top: 50px;
  padding-left: 100px;
  padding-bottom: 170px;
  transform: scale(.75);
  max-width: 100%;
}

.info-font-size{
  font-size: 20px;
  position: absolute;
  width: 300px;
}

.gen{
  left: 8px;
  bottom: 40px;
}

.tokenID{
  left: 8px;
  bottom: 15px;
}

.offer-amount{
  font-size: 20px;
  width: 150px;
  height: 50px;
  position: relative;
  transform: translate(33%, -110%);
  padding-left: 10px;
  border-width: thin;
  border-color: #ccc;
  border-radius: 4px;
}

.createOffer{
  height: 50px;
  transform: translate(70%, -115%);
}

.remove-offer-group{
  display: none;
  height: 50px;
  transform: translate(12%, -115%);
}

.removeOffer{
  height: 50px;
}

.catPrice{
  font-size: 20px;
}

.alert{
  display: none;
  margin: auto;
}

.alert-text{
  font-size: 18px;
}

.rareDNA{
  opacity: .7;
  background-color: #fff721;
  width: 6em;
  text-align: center;
  padding: 3px 3px;
  display: none;
  border: 2px solid;
  border-radius: 15px;
  position: absolute;
  font-size: 40px;
  left: 2em;
  top: -10%;
  box-shadow: 0 5px 10px #fc0307;
}

.bold-this-text{
  font-weight: bold;
}
