.noCatsForSaleText{
  font-size: 20px;
  text-align: center;
  transform: translateY(-20%);
  padding: 4em 2em;
  margin: 10em auto auto;
  width: 60%;
  background: #eee;
  border-radius: 15px;
  height: 20%;
}

#sellMyCats{
  width: 18rem;
  height: 4rem;
  background: linear-gradient( 145deg, #fad05c 0%, #fa5c5c 100%);
  border-radius: 15px;
  transition: transform .3s ease-out;
  border: none;
  margin-top: 15px;
}

#sellMyCats:hover{
  background: linear-gradient( 145deg, #5ce0fa 0%, #5b8bfc 100%);
  color: white;
  transform: scale(1.1);
}

@media (max-width: 660px){
  #sellMyCats{
    width: 14rem;
    height: 3rem;
    font-size: 16px;
  }
}

.catBox {
  background: transparent;
  border-radius: 10px;
  padding-top: 50px;
  padding-left: 100px;
  padding-bottom: 170px;
  transform: scale(.75);
  max-width: 100%;
}

.info-font-size{
  font-size: 20px;
  position: absolute;
  width: 300px;
}

.gen{
  left: 8px;
  bottom: 40px;
}

.tokenID{
  left: 8px;
  bottom: 15px;
}

.catPrice{
  font-size: 20px;
  width: 150px;
  height: 50px;
  position: relative;
  left: 50px;
  bottom: 60px;
}

.buyCat{
  height: 50px;
  position: relative;
  bottom: 60px;
  right: -140px;
}

.removeOffer{
  display: none;
  height: 50px;
  transform: translate(75%, -115%);
}

.alert{
  display: none;
  margin: auto;
}

.alert-text{
  font-size: 18px;
}

.bought-shadow{
  box-shadow: 0 0 25px #c8f7cd;
}

.rareDNA{
  opacity: .7;
  background-color: #fff721;
  width: 6em;
  text-align: center;
  padding: 3px 3px;
  display: none;
  border: 2px solid;
  border-radius: 15px;
  position: absolute;
  font-size: 40px;
  left: 2em;
  top: -10%;
  box-shadow: 0 5px 10px #fc0307;
}
